_ngo/*
_xmsgs/*
docs/*
iseconfig/*
templates/*
tmp/*
xcos/*
xlnx_auto_0_xdb/*
xst/*
*~
*bak
*bgn
*bit
*blc
*bld
*cmd_log
*drc
*gise
*html
*lso
*map
*mrp
*ncd
*ncf
*ngc
*ngd
*ngm
*ngr
*pad
*par
*pcf
*prj
*ptwx
*srp
*stx
*sym
*syr
*tcl
*temp
*log
*twr
*twx
*unrouts
*ut
*wcfg
*cmd
*xml
*xmsgs
*xpi
*xrpt
*xst
*xwbt